* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(51, 116, 173);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tetromino {
    background-color: chocolate;
}
#game-container{
    min-width: 600px;
    min-height: 500px;
}
#game-container > div {
    display: inline-block;
}
#game-section {
    float: left;
    background-color: white;
    width: 360px;
    height: 600px;
}
#game-grid {
    margin-top: -120px;
    height: 720px;
    width: 360px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(24, 1fr);
}
#info-section {
    text-align: center; 
    background-color: blueviolet;
    width: 240px;
    height: 600px;
    /* width: 50%; */
}
#score-section {
    padding: 44px 0;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    height: 400px;
}
#start-btn {
    color: rgb(42, 18, 58);
    margin-top: 44px;
    /* background-color: aqua; */
    font-size: 24px;
    padding: 12px;
}
/* #cover-section {
    position: absolute;
    height: 120px;
    /* width: ; *
/* .grid:first-of-type {
    display: none;
} */